@import "../../App.scss";
.page-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 45px;
  
    button {
      margin: 0 5px;
      padding: 8px 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.2s ease;
  
      &:hover {
        background-color: #ccc;
      }
  
      &:disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
    #number-page{
        margin:0px 5px;
    }
    .current-page {
      margin: 0 10px;
      margin-bottom: 20px;
      padding: 8px 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
      font-size: 14px;
    }
  }
  